<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia</title>
    <link rel="stylesheet" href="\style\style.css">
</head>
<body>
    <header>
<!--Nome do programa Ex: Noticia123-->
        <h1>Baguga News</h1>
<!--Links para noticias específicas-->
<nav><a href="pg_inicial.ejs">Home</a>
    <a href="pg_noticia.ejs">Notícia 1</a>
    <a href="pg_noticia2.ejs">Notícia 2</a>
    <a href="pg_noticia3.ejs">Notícia 3</a></nav>
    </header>

<!--Acessar o json que está sendo usado como um banco de dados ,e mostrar as noticias-->
    <main>
        <section class="noticia-container">
<!--Nome da noticia-->
            <h2>Nome da noticia 2</h2>
<!--Artigo da noticia-->
            <p>Artigo da Noticia 2</p>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>