<!DOCTYPE html>
<html lang="ptBR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\style\style.css">
    <script src="\controllers\news.js"></script>
  </head>
  <body>

    <header>
      <!--Nome do programa Ex: Noticia123-->
      <h1>Baguga News</h1>
      <!--Links para noticias específicas-->
      <nav><a href="pg_inicial.ejs">Home</a>
        <a href="pg_noticia.ejs">Notícia 1</a>
        <a href="pg_noticia2.ejs">Notícia 2</a>
        <a href="pg_noticia3.ejs">Notícia 3</a></nav>
    </header>

 

    <main>
      <section class="noticia-container" id="primeiranoticia">
        <!--Nome da noticia 1-->
        <a href="pg_noticia.ejs"><h2>Primeira Noticia</h2></a>      
        <!--Artigo resumido da noticia 1-->
        <p>
          Lorem Ipsum é um texto fictício usado na indústria gráfica desde 1500,
          permanecendo popular e essencialmente inalterado até hoje.
        </p>
      </section>

      <section class="noticia-container" id="segundanoticia">
        <!--Nome da noticia 2-->
        <a href="pg_noticia2.ejs"><h2>Segunda Noticia</h2></a>  
        <!--Artigo resumido da noticia 2-->
        <p>
          Lorem Ipsum is a dummy text used in the printing industry since the
          1500s, remaining popular and essentially unchanged to this day.
        </p>
      </section>

      <section class="noticia-container" id="terceiranoticia">
        <!--Nome da noticia 3-->
        <a href="pg_noticia3.ejs"><h2>Terceira Noticia</h2></a></nav>   
        <!--Artigo resumido da noticia 3-->
        <p>O Santos divulgou, na manhã deste domingo 16, imagens do embarque de sua delegação rumo à capital paranaense...</p>
      </section>
    </main>

    <!--
      <section class="noticia-container">
      <list>
        <h1>Adicione sua noticia aqui</h1>
  <h2>Titulo:</h2>
  <textarea name="" id="text-titulo" cols="30" rows="10"></textarea>
  <br>
  <h2>Artigo:</h2>
  <textarea name="" id="text-noticia" cols="30" rows="10"></textarea>
  <br>
  <button id="butao" onclick="x()">Enviar</button>
      </list>     
  </section>
-->

  <section class="noticia-container">
    <footer>
      <h3>Nome dos criadores</h3>
      <p>
        Arthur Pereira, João Gabriel, Bernado Souto, João Pedro Lacerda e João
        Pedro Torquetti
      </p>
      <p>
        Site criado para uma atividade em grupo, solicitada pelo professor
        Jacques Simões, com o intuito...
      </p>
    </footer>
  </section>

  </body>
</html>
