<!DOCTYPE html>
<html lang="ptBR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
    
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="\style\style.css">
</head>
<body>
    <header>
        <!-- Nome do programa Ex: Noticia123 -->
        <h1>Baguga News</h1>

        <!-- Links para notícias específicas -->
        <nav><a href="pg_inicial.ejs">Home</a>
            <a href="pg_noticia.ejs">Notícia 1</a>
            <a href="pg_noticia2.ejs">Notícia 2</a>
            <a href="pg_noticia3.ejs">Notícia 3</a></nav>
    </header>
    
    <!-- Acessar o JSON e mostrar as notícias -->
    <main>
        <section class="noticia-container">
            <!-- Nome da notícia -->
            <h2>Em recuperação, Neymar embarca com o Santos para amistoso contra o Curitiba</h2>
            <!-- Artigo da notícia -->
            <p>O Santos divulgou, na manhã deste domingo 16, imagens do embarque de sua delegação rumo à capital paranaense...</p>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>
